body {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial";
}

p, figure, ul {
    margin-bottom: 1em;
}

h1{padding-top:14pt;font-size:18pt;padding-bottom:4pt;}
h2{padding-top:12pt;font-size:14pt;padding-bottom:3pt;}
h3{padding-top:6pt;font-size:13pt;padding-bottom:3pt;}
h4{padding-top:14pt;font-size:12pt;padding-bottom:3pt;}
h5{padding-top:12pt;font-size:11pt;padding-bottom:3pt;}
h6{padding-top:12pt;font-size:11pt;padding-bottom:3pt;}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

th {
    text-align: center;
}

figure {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* Make entire figure element, including caption, only as wide as the
    contained image. */
    display: table;
    width: 1px; /* img will "push" the width out just enough to contain it */
}

figcaption {
    text-align: left;
    min-width: 700px;
    margin-top: 1em;
}

figcaption h1 {
    font-size: inherit;
    line-height: inherit;
    text-decoration: none;
    font-weight: bold;
    padding: 0;
    display: inline;
}

.tab-content {
    margin-top: 1em;
    /* Adjusted for grbrowser. */
    max-width: 1200px;
}

.math {
    font-family: "Times New Roman";
    font-style: italic;
}

.nav-tabs li a {
    font-size: 16px;
    padding: 10px;
}

#dose-response-curves-main {
    align: left;
}

.table-of-contents {
    text-align: center;
}

.table-of-contents tr > :nth-child(n+2) {
    border-left: 1px solid #c0c0c0;
}
