#downloadData { width:200px; margin-top: 10px; margin-bottom: 20px;}
#input_table  {white-space: nowrap;  }
#downloadScatter { margin-top: 20px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px}
#scatterImageType { margin-top: 0px; margin-bottom: 20px; margin-left: 0px;}
#plotBoxL2 { white-space: nowrap; margin-top: 25px; margin-left: 10px; margin-right: 0px}
#scatter_height { width:50px; margin-top: 20px; margin-left: 20px; margin-right: 0px}
#clear { margin-top: 10px; margin-bottom: 10px; float: center;}
#plot_scatter { margin-top: 10px; margin-bottom: 10px; float: center}

#datasetInfo h3 {
    margin-top: 0;
    padding-top: 0;
}

#dataSet > label:hover {
    text-decoration: inherit;
}

.list-container .title {
    font-size: 13pt;
}
